{% macro element(list) -%}
<nav>
    {% set current_lang = multilingual::language_current() -%}
    {% set current_lang_is_default = multilingual::is_default_language() | int -%}
    {% set nav_langs = [] -%}
    {% set nav_links = [] -%}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
    {# ## Iterate items from list in configuration file -#}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
    {% for nav_item in list %}
        {% set link_name = nav_item.name -%}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
        {# ## Process the "special" name '[langs]' -#}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
        {% if "[langs]" == link_name and config.languages | length > 0 -%}
            {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
            {# ## Iterate through the languages in the config file -#}
            {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
            {% for code, value in config.languages -%}
                {% if config.default_language == code or current_lang == code -%}
                    {% set code = current_lang -%}
                    {% set link_url = false -%}
                {% elif current_lang_is_default -%}
                    {% set path = current_path | default(value="/") -%}
                    {% set link_url = "/" ~ code ~ path -%}
                {% else -%}
                    {% set link_url = current_url | regex_replace(pattern=get_url(path="/"), rep='') -%}
                    {% set link_url = link_url | replace(from='/' ~ current_lang ~ '/', to='/' ~ code ~ '/') -%}
                    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
                    {# ## Check if the link to the page is valid -#}
                    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
                    {% if page.relative_path -%}
                        {% set page_data = "content/" ~ page.relative_path | replace(from='.' ~ current_lang ~ '.', to='.' ~ code ~ '.') -%}
                        {% set page_data = load_data(path=page_data, required=false) %}
                        {% if not page_data -%}
                            {% set link_url = "/" ~ code -%}
                        {% endif -%}
                    {% endif -%}
                {% endif -%}
                {% set link_values = [code, link_url, false] -%}
                {% set_global nav_langs = nav_langs | concat(with=[link_values]) -%}
            {% endfor -%}
            {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
            {# ## Sort list of language and append to navigation links -#}
            {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
            {% set_global nav_langs = nav_langs | sort(attribute='0') -%}
            {% for item in nav_langs -%}
                {% set_global nav_links = nav_links | concat(with=[item]) -%}
            {% endfor -%}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
        {# ## Process normal link from list -#}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
        {% else -%}
            {% if current_lang_is_default and not nav_item.in_default_language | default(value=true) -%}
                {% continue -%}
            {% endif -%}
            {% set link_url = nav_item.url -%}
            {% if link_url is starting_with("/") -%}
                {% set link_url = "/" ~ current_lang ~ link_url -%}
            {% endif -%}
            {% set new_tab = nav_item.new_tab | default(value=false) -%}
            {% set link_values = [link_name, link_url, new_tab] -%}
            {% set_global nav_links = nav_links | concat(with=[link_values]) -%}
        {% endif -%}
    {% endfor %}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
    {# ## Build list of links -#}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -#}
    {% set path_list = current_path | default(value='404') | trim_end_matches(pat="/") -%}
    {% set path_list = [path_list, path_list ~ "/" ~ current_lang] -%}
    {% for i in nav_links -%}
        {% set name = i.0 -%}
        {% set href = i.1 | as_str | trim_end_matches(pat="/") -%}
        {% if false == i.1 or path_list is containing(href) -%}
            <span>{{ name }}</span>
        {% else -%}
            {% set new_tab = "" -%}
            {% if i.2 -%}
                {% set new_tab = 'target="_blank" rel="noreferrer noopener"' -%}
            {% endif -%}
            <a href="{{ get_url(path=href) | safe }}" {{ new_tab | safe }}>{{ name }}</a>
        {% endif -%}
    {% endfor -%}
</nav>
{% endmacro element -%}
