.w {
  max-width: 1000px;
}

header h1 {
    text-align: center;

    &:before { content: '[' }
    &:after { content: attr(data-content) ']' }
}

p.not-found {
    padding: 0.5em 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1;

    span.code {
        font-size: 3em;
        display: block;
    }
}

footer p.foot-note {
    font-size: 0.8em;
    margin: 0.2rem 0;
    text-align: center;

    a.creative-commons {
        text-decoration: none;

        span {
            text-decoration: underline;
        }

        img {
            display: inline;
            vertical-align: bottom;
            width: 1.5em;
        }
    }
}
