.w {
  max-width: 1000px;
}

header h1 {
    text-align: center;

    &:before { content: '[' }
    &:after { content: attr(data-content) ']' }
}

p.not-found {
    padding: 0.5em 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1;

    span.code {
        font-size: 3em;
        display: block;
    }
}

nav.toc {
    background: #ebebeb;
    margin: 2em 0;
    padding: 0.8em;
    text-align: left;

    ul {
        margin-bottom: 0;
    }
}

/**
 * Open & Close Transitions with <details>
 *
 * @see https://nerdy.dev/open-and-close-transitions-for-the-details-element
 */
details.auto-hide {
    border: black thin solid;
    padding: 0.4em;

    @media (prefers-reduced-motion: no-preference) {
        interpolate-size: allow-keywords;
    }

    &::details-content {
        opacity: 0;
        block-size: 0;
        overflow-y: clip;
        transition: content-visibility 1s allow-discrete, opacity 1s, block-size 1s;
    }

    &[open]::details-content {
        opacity: 1;
        block-size: auto;
    }

    summary {
        cursor: pointer;
    }
}

footer p.foot-note {
    font-size: 0.8em;
    margin: 0.2rem 0;
    text-align: center;

    a.creative-commons {
        text-decoration: none;

        span {
            text-decoration: underline;
        }

        img {
            display: inline;
            vertical-align: bottom;
            width: 1.5em;
        }
    }
}
